@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }
  .image {
    @apply relative min-h-full h-[400px];
  }
}
